<title>longtable</title>
<body>
  <table border=1>  
    <thead> Web  
      <tr>      
        <th>Published</th>
        <th>ISBN-13</th>
        <th>Author</th>
        <th>Title</th> 
      </tr>   
    </thead>   
    <tbody> <!-- Table Body Section --> 
      <tr>   <!--book-->      
        <th>June 13, 2018</th> <!--published date-->
        <td>1983065633</td> <!--isbn-->
        <td>Greg Sidelnikov</td> <!--author-->
        <td>CSS Visual Dictionary</td> <!--title-->
      </tr>
      <tr>   <!--book-->      
        <th>November 8, 2011</th> <!--published date-->
        <td>978-1118008188</td> <!--isbn-->
        <td>Jon Duckett</td> <!--author-->
        <td>HTML and CSS: Design and Build Websites</td> <!--title-->
      </tr>
      <tr>   <!--book-->      
        <th>May 29, 2018</th> <!--published date-->
        <td>978-1491960202</td> <!--isbn-->
        <td>Jennifer Niederst Robbins</td> <!--author-->
        <td>Learning Web Design: A Beginner's Guide to HTML, CSS, JavaScript, and Web Graphics</td> <!--title-->
      </tr>
      <tr>   <!--book-->      
        <th>October 26, 2019</th> <!--published date-->
        <td>978-1697517811</td> <!--isbn-->
        <td>Ryan Turner</td> <!--author-->
        <td>Javascript: The Ultimate Beginner’s Guide to Learn JavaScript Programming Step by Step</td> <!--title-->
      </tr>
      <tr>   <!--book-->      
        <th>March 30, 2018</th> <!--published date-->
        <td>978-1788628174</td> <!--isbn-->
        <td>Ross Harrison</td> <!--author-->
        <td>ECMAScript Cookbook: Become a better web programmer by writing efficient and modular code using ES6 and ES8</td> <!--title-->
      </tr>
      <tr>   <!--book-->      
        <th>December 29, 2017</th> <!--published date-->
        <td>978-1785888960</td> <!--isbn-->
        <td>Kevin Faaborg</td> <!--author-->
        <td>Mastering Node.js - Second Edition: Build robust and scalable real-time server-side web applications efficiently</td> <!--title-->
      </tr>
      <tr>   <!--book-->      
        <th>May 11, 2015</th> <!--published date-->
        <td>978-0134041674</td> <!--isbn-->
        <td>Walter Savitch</td> <!--author-->
        <td>Absolute Java (6th Edition)</td> <!--title-->
      </tr>
      <tr>   <!--book-->      
        <th>September 29, 2018</th> <!--published date-->
        <td>978-1789132359</td> <!--isbn-->
        <td>Nick Samoylov</td> <!--author-->
        <td>Java 11 Cookbook: A definitive guide to learning the key concepts of modern application development, 2nd Edition</td> <!--title-->
      </tr>
      
      
      
      
    </tbody>   
    <tfoot><!-- Table Footer Section -->
      <tr>   
        <td colspan="4" align="middle"><strong>Amazon Student</strong>| FREE Two-day shipping on millions of items
        </td>
      </tr>   
    </tfoot>
    
  </table>
  
</body>