#logo{
    height:2em;
    width: 2em;
}
img{
    height: auto;
    border-radius: 2em;
}

.carousel{
    margin-top: 10px;
    border: dashed 2px;
    border-radius: 2em;
    border-color: greenyellow;
}

.jumbotron{
    margin: 10px;
}

hr{
    height: 5px;
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.card-img-top{
    height: auto;
}

body{
    background: linear-gradient(white, cyan);
}

.nav-item{
    border-color: #e8e3d3;
}

.carousel-caption{
    color: whitesmoke;
    font-weight: bold;
}