body{
  background-color:tan;
  height:15000px;
}
a{
  background-color:gray;
  border:solid 1px;
  border-color:black;
  shadow:1px;
  box-shadow:2px 2px gray;
  color:black;
}
a:visited{
  color:black;
}