:root{
    --ratio: 1px;
    --defaultFlagWidth: 650px;
    --defaultFlagHeight: 400px;
    --backgroundColor: tan;
    --starColor: blue;
    --cellWidth: 100%;
    --cellHeight: 25px;
}

body{
    background-color: var(--backgroundColor);
    height: 2000px;
}
.white_stripe{
    background-color: white;
}

.red_stripe{
    background-color: red;
}

.stripes{
    width: var(--cellWidth);
    height: var(--cellHeight);
}

#flag_frame{
    width: var(--defaultFlagWidth);
    height: var(--defaultFlagHeight);
}

#starcell{
    background-color: blue;
}
td{
    color: white;
    border: black solid 1px;
}
#stars{
    width: 300px;
}



