iframe{
    width: 32vw;
    height: 90vh;
}
h1{
    text-align: center;
    padding: 0px;
    margin: 0;
}

table{
    border: solid 2px;
}
td{
    border: solid 2px;
    width: 30em;
}

div{
    text-align: center;
}