<title>flag</title>
<body>
<table border="1"width="1000"height="400"cellpadding="18"cellspacing="0"bgcolor="blue">  
  <tr>
    <td width="350" rowspan="7" >
      <table width=100% > <!--innder star-->
        <tr>
        <td align=center><span>&#9733;</span></td>
        <td align=center><span>&#9733;</span></td>
        <td align=center><span>&#9733;</span></td>
       <td align=center><span>&#9733;</span></td>
        <td align=center><span>&#9733;</span></td>
        <td align=center><span>&#9733;</span></td>
        </tr>
      </table>
      <table width=100% > <!--innder star-->
        <tr>
          <td></td>
          <td></td>
        <td align=center><span>&#9733;</span></td>

        <td align=center><span>&#9733;</span></td>

        <td align=center><span>&#9733;</span></td>

       <td align=center><span>&#9733;</span></td>

        <td align=center><span>&#9733;</span></td>
        <td></td>
          <td></td>
      </table>
      <table width=100% > <!--innder star-->
        <tr>
        <td align=center><span>&#9733;</span></td>
        <td align=center><span>&#9733;</span></td>
        <td align=center><span>&#9733;</span></td>
       <td align=center><span>&#9733;</span></td>
        <td align=center><span>&#9733;</span></td>
        <td align=center><span>&#9733;</span></td>
        </tr>
      </table>
      <table width=100% > <!--innder star-->
        <tr>
          <td></td>
          <td></td>
        <td align=center><span>&#9733;</span></td>

        <td align=center><span>&#9733;</span></td>

        <td align=center><span>&#9733;</span></td>

       <td align=center><span>&#9733;</span></td>

        <td align=center><span>&#9733;</span></td>
        <td></td>
          <td></td>
      </table>
      <table width=100% > <!--innder star-->
        <tr>
        <td align=center><span>&#9733;</span></td>
        <td align=center><span>&#9733;</span></td>
        <td align=center><span>&#9733;</span></td>
       <td align=center><span>&#9733;</span></td>
        <td align=center><span>&#9733;</span></td>
        <td align=center><span>&#9733;</span></td>
        </tr>
      </table>
      <table width=100% > <!--innder star-->
        <tr>
          <td></td>
          <td></td>
        <td align=center><span>&#9733;</span></td>

        <td align=center><span>&#9733;</span></td>

        <td align=center><span>&#9733;</span></td>

       <td align=center><span>&#9733;</span></td>

        <td align=center><span>&#9733;</span></td>
        <td></td>
          <td></td>
      </table>
      <table width=100% > <!--innder star-->
        <tr>
        <td align=center><span>&#9733;</span></td>
        <td align=center><span>&#9733;</span></td>
        <td align=center><span>&#9733;</span></td>
       <td align=center><span>&#9733;</span></td>
        <td align=center><span>&#9733;</span></td>
        <td align=center><span>&#9733;</span></td>
        </tr>
      </table>
      <table width=100% > <!--innder star-->
        <tr>
          <td></td>
          <td></td>
        <td align=center><span>&#9733;</span></td>

        <td align=center><span>&#9733;</span></td>

        <td align=center><span>&#9733;</span></td>

       <td align=center><span>&#9733;</span></td>

        <td align=center><span>&#9733;</span></td>
        <td></td>
          <td></td>
      </table>
      <table width=100% > <!--innder star-->
        <tr>
        <td align=center><span>&#9733;</span></td>
        <td align=center><span>&#9733;</span></td>
        <td align=center><span>&#9733;</span></td>
       <td align=center><span>&#9733;</span></td>
        <td align=center><span>&#9733;</span></td>
        <td align=center><span>&#9733;</span></td>
        </tr>
      </table>
      
    </td>
    <td bgcolor="red"colspan="1">
    </td>
  </tr>
  <tr>       
    <td bgcolor="white"colspan="1">
  </tr>
  <tr>       
    <td bgcolor="red"colspan="1">
    </td>
  </tr>
  <tr>      
    <td bgcolor="white"colspan="2">
  </tr>
  <tr>       
    <td bgcolor="red"colspan="1">
    </td>
  </tr>
  <tr>      
    <td bgcolor="white"colspan="2">
  </tr>
  <tr>
    <td bgcolor= "red" colspan="2">
  </tr>
  <tr>
    <td bgcolor="white" colspan=4></td>
  </tr>
  <tr>
     <td bgcolor="red" colspan=4></td>
  </tr>
  <tr>
    <td bgcolor="white" colspan=4></td>
  </tr>
  <tr>
     <td bgcolor="red" colspan=4></td>
  </tr>
  <tr>
    <td bgcolor="white" colspan=4></td>
  </tr>
  <tr>
     <td bgcolor="red" colspan=4></td>
  </tr>
  </td>    
  </tr>
  </table>
</body>