<head>  
  <title>Pac-12 North Division</title>
</head>

<body>  
  <img src="http://x.pac-12.com/profiles/pac12/themes/pac12_foundation/images/pac12/logo.png"alt="Pac-12 logo" title="Pac-12 Home">  
  <h3>Vote for your favorite Football Team</h3>  
  <form action="http://courses.washington.edu/bimd233/bimd.php"method="post">  
  My State: 
  <input type="text"name="state"><br/>
  <input type="image" src="https://a.espncdn.com/i/teamlogos/ncaa/500/264.png" style="width:75px" name="team"value="Washington Huskies">Washington Huskies<br />
  <input type="image" src="https://a.espncdn.com/i/teamlogos/ncaa/500/265.png" style="width:75px" name="team"value="Washington Cougars">Washington Cougars<br />
  <input type="image" src="https://a.espncdn.com/i/teamlogos/ncaa/500/24.png"  style="width:75px" name="team"value="Stanford Cardinals">Stanford Cardinals<br />
  <input type="image" src="https://a.espncdn.com/i/teamlogos/ncaa/500/25.png"  style="width:75px" name="team"value="California Bears">California Bears<br />
  <input type="image" src="https://a.espncdn.com/i/teamlogos/ncaa/500/2483.png" style="width:75px" name="team"value="Oregon">Oregon Ducks<br />    <br/>
    <input type="submit">  
  </form>
  
</body>

</html>